@import "tailwindcss"; /* To ładuje Tailwinda w nowej wersji */

@font-face {
  font-family: 'Logik';
  src: url('/fonts/Logik-SemiBold.ttf') format('truetype'); /* Ścieżka do Twojego pliku czcionki */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Nadpisujemy domyślną czcionkę systemową Tailwinda Twoją czcionką */
:root {
  --font-sans: 'Logik', sans-serif;
}

body {
  font-family: var(--font-sans);
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

@utility animate-star-movement-bottom {
  animation: star-movement-bottom linear infinite alternate;
}

@utility animate-star-movement-top {
  animation: star-movement-top linear infinite alternate;
}